		@font-face{
		font-family: handwriting;
		src: url("fonts/haeri.ttf");
}
		body{
			font-family: 'Josefin Sans', sans-serif;
		}

		#header{
			text-align:center;
			font-family: handwriting;
		}
		h1{
			font-size: 3.5em;
		}
		h3{
			font-size:1.5em;
		}
		.clearfloat{
			clear:both;
		}
		#menu ul{
			list-style:none;
			margin:0px;
			padding:0px;
		}
		#menu li{
			width:25%;
			float:left;
			text-align:center;
			position:relative;
		}
		#menu a{
			height:50px;
			line-height:50px;
			display:block;
		}
		#menu li:hover > ul{
			display:block;
		}
		
		#footer{
			height:50px;
			line-height:50px;
			text-align:center;
			font-size:.8em;
		}
		#footer a{
			color:#83858C;
		}
		#main{
			padding-top:40px;
			width:60%;
			margin-right:auto;
			margin-left:auto;
			color: #50514F;
		}
		#main a{
			color:#83858C;
		}
